

.bg-img{
    background-image: url("./img/background.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    
  
}

#dialog-container{
    
    top: 50%;
    left: 50%;
    position: absolute;
} 

#set-up-form{

    position: relative;

    width: 600px;
    margin-left: -300px;

    height: 400px;
    margin-top: -200px;


} 

#set-up-form::backdrop{

    background-color: salmon;
}

#grid-container{
   padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.cell{
   
    min-width: 50px;
    min-height: 50px;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.row-container{

    display: flex;

}

#player-turn-display-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 10px;
    
    
}
#player-turn-display{

    background-color: white;
    font-size: x-large;
    border: solid;
    padding: 10px;
}

#restart-btn{

    padding: 20px;
}