*{
    background-color: white;
}

#grid-container{
   padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cell{
   
    min-width: 50px;
    min-height: 50px;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-container{

    display: flex;

}