
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


html{
    
    background: url("./img/background.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
    
  
}



#start-btn{

    position: fixed;
    top: 50%;
    left: 50%;
    
    background-color: salmon;
    padding: 7vw;
    border-radius: 10px;
    font-size: 5vh;
    transform: translate(-50%, -50%);
   
}


#set-up-form{

 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

fieldset{

    margin: 10px;
}

#input-player-container{
    display:flex;
    flex-wrap: wrap;
    gap: 5px;
}

.player-container{

    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.token{

    width: 2rem;
    text-align: center;
    margin-left: 5px;
}

.small-input{

    width: 4.4rem;
    text-align: center;
    margin-bottom: 10px;
}

#confirm-btn{

    margin: 5px 25%;
    padding: 2% 9%;
    font-size: 1.5rem;
}

#grid-container{
   padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.cell{
   
    min-width: 50px;
    min-height: 50px;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
    font-size: 2rem;
}

.row-container{

    display: flex;

}

#player-turn-display-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 10px;
    
    
}
#player-turn-display{

    background-color: white;
    font-size: x-large;
    border: solid;
    padding: 10px;
}

#restart-btn{

    padding: 20px;
    font-size: 2rem;
}