*{
    background-color: red;
}

.cell{
   
    min-width: 50px;
    min-height: 50px;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-container{

    display: flex;

}